<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title><%- stream %></title>
    <link type="text/css" rel="stylesheet" media="screen" href="video-js-7.19.2/video-js.css" />
    <link type="text/css" rel="stylesheet" media="screen" href="converse.js-9.1.1/converse.css" />
    <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
    <style>
        html,
        body {
            margin: 0;
            padding: 0;

            background-color: #282a36;
            color: #ffb86c;
        }

        header {
            flex-basis: 100%;
            height: 4em;
            padding: 0 1em;
            border-bottom: 2px solid #3f3f3f;
        }

        header h1 {
            font-size: 40px;
            line-height: 1.2;
            margin: 0.25em 0;
        }

        main {
            width: 75%;
        }

        #player {
            background-color: #282a36;
        }

        aside {
            width: calc(25% - 2px);
            border-left: 2px solid #3f3f3f;
            height: calc(100vh - 4em - 2px);
        }

        /* color roles */
        converse-chat-message .message.owner .show-msg-author-modal {
            color: #ffb86c !important;
        }
        converse-chat-message .message.member .show-msg-author-modal {
            color: green !important;
        }
        converse-chat-message .message.admin .show-msg-author-modal {
            color: red !important;
        }

        /* remove image background */
        converse-chat-message .img-thumbnail {
            background-color: transparent !important;
            border: none !important;
            padding: 0 !important;
            border-radius: 0 !important;
        }

        .conversejs converse-chats.converse-embedded.converse-singleton .chatbox {
            margin-left: 0 !important;
        }
        converse-dragresize {
            display: none;
        }
    </style>
</head>
<body>
<div style="display: flex; align-items: stretch; flex-wrap: wrap">
    <header><h1 id="streamHeader"><%- stream %></h1></header>
    <main>
        <video-js id="player" height="auto" class="video-js vjs-default-skin" autoplay controls preload="auto" poster="poster.png"></video-js>
    </main>

    <aside class="converse-container">
        <converse-root></converse-root>
    </aside>
</div>

<script src="converse.js-9.1.1/converse.js"></script>
<script src="video-js-7.19.2/video.js"></script>
<script>
    const name = document.location.pathname.substring(1) || '<%- stream %>';
    document.title = name;
    document.getElementById('streamHeader').textContent = name;

    /* player */
    const player = videojs('#player', {
        fill: false,
        fluid: true,
        liveui: true,
        plugins: {
            reloadSourceOnError: {}
        }
    })
    player.src({
        src: '/hls/' + name + '.m3u8',
        type: 'application/x-mpegURL'
    })
    player.reloadSourceOnError({
        errorInterval: 10
    });

    /* better ttv */
    converse.plugins.add('bttv', {
        dependencies: ['converse-emoji'],
        initialize: function () {
            /*this._converse.api.emojis.initialize().then((a) => {
                const emoji_categories = this._converse.api.settings.get('emoji_categories');
                emoji_categories.custom = '📺';
                this._converse.api.settings.set('emoji_categories', emoji_categories);

                converse.emojis.json.custom = {
                    ':KEKW:': {
                        'sn': 'KEKW',
                        'url': 'https://cdn.betterttv.net//emote/5e9c6c187e090362f8b0b9e8/1x.png',
                        'c': 'custom'
                    }
                }
            })*/

            fetch('https://api.betterttv.net/3/cached/emotes/global').then((response) => response.json()).reduce((accu, element) => {
                accu[element.code] = element
                return accu
            }, {}).then((emotes) => {
                this._converse.api.listen.on('message', (context, payload) => {
                    if (context.attrs.body) {
                        context.attrs.body = context.attrs.body
                            .split(/(\s+)/)
                            .map((part) => {
                                if (part in emotes) {
                                    return 'https://cdn.betterttv.net/emote/' + emotes[part].id + '/1x.png'
                                }
                                return part
                            })
                            .join(' ')
                    }
                    return { ...payload }
                })
            })
        }
    })

    /* chat */
    converse.initialize({
        whitelisted_plugins: ['bttv'],
        authentication: 'anonymous',
        auto_login: true,
        auto_join_rooms: ['<%- muc %>'],
        bosh_service_url: '/http-bind/',
        jid: '<%- jid %>',
        singleton: true,
        locales_url: 'locale/{{{locale}}}/LC_MESSAGES/converse.json',
        view_mode: 'embedded',
        hide_muc_participants: true,
        allow_dragresize: false,
        send_chat_state_notifications: [],
        allowed_image_domains: ['cdn.betterttv.net'],
        assets_path: 'converse.js-9.1.1/',
        show_message_avatar: false
    })
</script>
</body>
</html>
